@model IEnumerable<EmployeeModels.GetEmployeeWithoutPayViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPermanent)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPermanent)
        </td>
        
    </tr>
}

</table>
